@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html.light {
  --background: #faf3e0;
  --surface: #ffffff;
  --text-primary: #2c2c2c;
  --text-secondary: #5e5e5e;
  --btn-links: #ff7f50;
  --tags-highlights: #e6b800;
  --hover: #e76f51;
  --border-divider: #d6d6d6;
  --error: #d64545;
  --warning: #ffa500;
  --black: #000000;
  --white: #ffffff;

  --highlight-transparent: transprent;
  --highlight-yellow: #ffff00;
  --highlight-cyan: #00ffff;
  --highlight-green: #90ee90;
  --highlight-pink: #ff69b4;
  --highlight-orange: #ffa500;
  --highlight-light-blue: #add8e6;
  --highlight-lavender: #e6e6fa;
  --highlight-light-green: #98fb98;
}

:root {
  --xxs: 4px;
  --xs: 8px;
  --s: 12px;
  --base: 16px;
  --m: 24px;
  --l: 32px;
  --xl: 48px;
  --xxl: 64px;
  --huge: 80px;
}

html.dark {
  --background: #1c1c1c;
  --surface: #2c2c2c;
  --text-primary: #faf3e0;
  --text-secondary: #b8b8b8;
  --btn-links: #ffa07a;
  --tags-highlights: #ffd700;
  --hover: #f4a261;
  --border-divider: #3a3a3a;
  --error: #ff6b6b;
  --warning: #ffb347;
  --black: #000000;
  --white: #ffffff;

  --highlight-background: var(--background);
  --highlight-text: var(--text-primary);
  --highlight-yellow: #ffd700;
  --highlight-cyan: #00ced1;
  --highlight-green: #32cd32;
  --highlight-pink: #ff1493;
  --highlight-orange: #ff8c00;
  --highlight-light-blue: #1e90ff;
  --highlight-lavender: #9370db;
  --highlight-light-green: #66cdaa;
}

html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(----text-primary);
}

.card {
  background-color: var(--surface);
  padding: var(--base);
  border-radius: var(--s);
}

.card-shadow {
  box-shadow: 0 var(--xxs) var(--s) rgba(0, 0, 0, 0.1);
}

.space-xxs {
  height: var(--xxs);
}

.space-xs {
  height: var(--xs);
}

.space-s {
  height: var(--s);
}

.space-base {
  height: var(--base);
}

.space-m {
  height: var(--m);
}

.space-l {
  height: var(--l);
}

.space-xl {
  height: var(--xl);
}

.space-xxl {
  height: var(--xxl);
}

.space-huge {
  height: var(--huge);
}

.wh100 {
  width: 100%;
  height: 100%;
}
